/* @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700|Noto+Sans+SC&subset=cyrillic'); */
@font-face {
  font-family: Proxsima;
  font-weight: normal;
  src: url(fonts/ProximaNovaRegular.otf);
}
@font-face {
  font-family: Proxsima;
  font-weight: 200;
  src: url(fonts/ProximaNovaLight.otf);
}
@font-face {
  font-family: Proxsima;
  font-weight: 600;
  src: url(fonts/ProximaNovaBold.otf);
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Proxsima;
  overflow: hidden;
}
.info {
  position: relative;

  margin: 173px 0 0 576px;

  transform: rotate(10deg);
}
h1 {
  position: absolute;

  margin-top: 120px;
  font-weight: 600;

  transform: rotate(30deg);

  font-size: 42px;
}
p {
  font-weight: normal;
  position: absolute;

  width: 300px;
  margin: 115px -100px -100px -150px;

  transform: rotate(-60deg);
  font-size: 14px;
  line-height: 16px;
}
p.adress {
  top: 50px;
  left: 10px;

  width: 492px;

  font-size: 22px;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  position: absolute;
  top: 220px;
  left: -85px;

  transform: rotate(-60deg);

  font-size: 40px;
}
h3 {
  font-weight: 600;
  position: absolute;
  top: 180px;
  left: 210px;

  transform: rotate(30deg);

  font-size: 52px;
}
h4 {
  position: absolute;
  font-weight: 600;
  top: 165px;
  transform: rotate(30deg);
  font-size: 85px;
  left: 172px;
}
.footer {
  font-weight: 200;
  top: 224px;
  left: 230px;
  font-size: 11px;
  width: 195px;
}

div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@keyframes spin {
  100% {transform: translateY(400px) translateX(30px);}
}
@keyframes doun {
  25% {transform: translateY(40px) translateX(10px);}
  50% {transform: translateY(60px) translateX(20px);
  75% {transform: translateY(70px) translateX(40px);}
  100% {transform: translateY(100px) translateX(-60px);}
}
