@keyframes spin {
  100% {transform: translateY(400px) translateX(30px);}
}
@keyframes doun {
  25% {transform: translateY(40px) translateX(10px);}
  50% {transform: translateY(60px) translateX(20px);}
}

@keyframes h1Animate {
  0% {
    top: 16vw;
    left: 6vw;

    transform: none;

    font-size: 175px;
    font-weight: bold;
  }
  20% {
    top: 16vw;
    left: 6vw;

    transform: none;

    font-size: 175px;
    font-weight: bold;
  }

  25% {
    top: 18vw;
    left: 58vw;

    transform: rotate(90deg);

    font-size: 122px;
    font-weight: bold;
  }
  45% {
    top: 18vw;
    left: 58vw;

    transform: rotate(90deg);

    font-size: 122px;
    font-weight: bold;
  }

  50% {
    top: 36vw;
    left: 10vw;

    transform: none;

    font-size: 200px;
    font-weight: 100;
  }
  70% {
    top: 36vw;
    left: 10vw;

    transform: none;

    font-size: 200px;
    font-weight: 100;
  }

  75% {
    top: 22vw;
    left: 216px;

    font-size: 175px;
    font-weight: bold;
  }
  95% {
    top: 22vw;
    left: 216px;

    font-size: 175px;
    font-weight: bold;
  }
}
@keyframes h2Animate {
  0% {
    top: 35vw;
    left: 73vw;

    width: 480px;

    transform: rotate(-90deg);

    font-size: 50px;
    font-weight: bold;
  }
  20% {
    top: 35vw;
    left: 73vw;

    width: 480px;

    transform: rotate(-90deg);

    font-size: 50px;
    font-weight: bold;
  }

  25% {
    top: 51vw;
    left: 40.5vw;

    width: 700px;

    transform: none;

    font-size: 80px;
    font-weight: 100;
  }
  45% {
    top: 51vw;
    left: 40.5vw;

    width: 700px;

    transform: none;

    font-size: 80px;
    font-weight: 100;
  }

  50% {
    top: 29vw;
    left: -13vw;

    width: auto;

    transform: rotate(90deg);

    font-size: 63px;
    font-weight: 500;
  }
  70% {
    top: 29vw;
    left: -13vw;

    width: auto;

    transform: rotate(90deg);

    font-size: 63px;
    font-weight: 500;
  }

  75% {
    top: 27.6vw;
    left: -18vw;

    width: auto;

    transform: rotate(-90deg);

    font-size: 83px;
    font-style: normal;
  }
  95% {
    top: 27.6vw;
    left: -18vw;

    width: auto;

    transform: rotate(-90deg);

    font-size: 83px;
    font-style: normal;
  }
}
@keyframes h3Animate {
  0% {
    top: 12vw;
    left: 6vw;

    transform: none;

    font-size: 80px;
    font-weight: 250;
    font-style: italic;
  }
  20% {
    top: 12vw;
    left: 6vw;

    transform: none;

    font-size: 80px;
    font-weight: 250;
    font-style: italic;
  }

  25% {
    top: 21.9vw;
    left: 64vw;

    width: 650px;

    transform: rotate(90deg);

    font-size: 87px;
    font-weight: 100;
    font-style: normal;
  }
  45% {
    top: 21.9vw;
    left: 64vw;

    width: 650px;

    transform: rotate(90deg);

    font-size: 87px;
    font-weight: 100;
    font-style: normal;
  }

  50% {
    top: 31vw;
    left: 11vw;

    transform: none;

    font-size: 78px;
    font-weight: 500;
    font-style: normal;
  }
  70% {
    top: 31vw;
    left: 11vw;

    transform: none;

    font-size: 78px;
    font-weight: 500;
    font-style: normal;
  }

  75% {
    top: 18vw;
    left: 230px;

    font-size: 65px;
    font-weight: bold;
    font-style: normal;
  }
  95% {
    top: 18vw;
    left: 230px;

    font-size: 65px;
    font-weight: bold;
    font-style: normal;
  }
}
@keyframes h4Animate {
  0% {
    top: 7vw;
    left: 6vw;

    width: auto;

    transform: none;

    font-size: 70px;
  }
  20% {
    top: 7vw;
    left: 6vw;

    width: auto;

    transform: none;

    font-size: 70px;
  }

  25% {
    top: 33vw;
    left: 60vw;

    width: 900px;

    transform: rotate(90deg);

    font-size: 41px;
    font-weight: bold;
  }
  45% {
    top: 33vw;
    left: 60vw;

    width: 900px;

    transform: rotate(90deg);

    font-size: 41px;
    font-weight: bold;
  }

  50% {
    top: 5vw;
    left: 5vw;

    width: auto;

    transform: none;
    text-transform: uppercase;

    font-size: 64px;
    font-weight: normal;
  }
  70% {
    top: 5vw;
    left: 5vw;

    width: auto;

    transform: none;
    text-transform: uppercase;

    font-size: 64px;
    font-weight: normal;
  }

  75% {
    top: 4vw;
    left: 230px;

    width: auto;

    text-transform: none;

    font-size: 53px;
    font-weight: bold;
  }
  95% {
    top: 4vw;
    left: 230px;

    width: auto;

    text-transform: none;

    font-size: 53px;
    font-weight: bold;
  }
}
@keyframes pAnimate {
  0% {
    top: 44vw;
    left: 57vw;

    width: 400px;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 17px;
  }
  20% {
    top: 44vw;
    left: 57vw;

    width: 400px;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 17px;
  }

  25% {
    top: 41vw;
    left: 50vw;

    width: 328px;

    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    line-height: 15px;
  }
  45% {
    top: 41vw;
    left: 50vw;

    width: 328px;

    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    line-height: 15px;
  }

  50% {
    top: 14vw;
    left: 61vw;

    width: 390px;

    transform: none;

    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    line-height: 15px;
  }
  70% {
    top: 14vw;
    left: 61vw;

    width: 390px;

    transform: none;

    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    line-height: 15px;
  }

  75% {
    top: 45vw;
    left: 230px;

    width: 385px;

    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    line-height: 21px;
  }
  95% {
    top: 45vw;
    left: 230px;

    width: 385px;

    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    line-height: 21px;
  }
}
@keyframes adressnimate {
  0% {
    top: 53vw;
    left: 57vw;

    width: 500px;

    font-size: 28px;
    font-weight: 600;
  }
  20% {
    top: 53vw;
    left: 57vw;

    width: 500px;

    font-size: 28px;
    font-weight: 600;
  }

  25% {
    top: 39vw;
    left: 50vw;

    width: 310px;

    font-size: 20px;
    font-weight: bold;
  }
  45% {
    top: 39vw;
    left: 50vw;

    width: 310px;

    font-size: 20px;
    font-weight: bold;
  }

  50% {
    top: 21vw;
    left: 61vw;

    width: 418px;

    transform: none;

    font-size: 25px;
    font-weight: bold;
    font-style: normal;
  }
  70% {
    top: 21vw;
    left: 61vw;

    width: 418px;

    transform: none;

    font-size: 25px;
    font-weight: bold;
    font-style: normal;
  }

  75% {
    top: 19.5vw;
    left: -2vw;

    width: auto;

    transform: rotate(-90deg);

    font-size: 28px;
    font-style: normal;
  }
  95% {
    top: 19.5vw;
    left: -2vw;

    width: auto;

    transform: rotate(-90deg);

    font-size: 28px;
    font-style: normal;
  }
}
