html, body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;

  font-family: Proxsima;
}
body * {
  margin: 0;
  padding: 0;

  /* transition: all 600ms ease; */
}
h4 {
  position: absolute;
  top: 1vw;
  left: 6vw;

  animation: h4Animate 10s linear infinite;

  font-size: 70px;
}
h3 {
  position: absolute;
  top: 6vw;
  left: 6vw;

  animation: h3Animate 10s linear infinite;

  font-size: 80px;
  font-weight: 250;
  font-style: italic;
}
h1 {
  position: absolute;
  top: 10vw;
  left: 6vw;

  animation: h1Animate 10s linear infinite;

  font-size: 175px;
  font-weight: bold;
}
p {
  position: absolute;
  top: 36vw;
  left: 57vw;

  width: 400px;

  animation: pAnimate 10s linear infinite;

  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 17px;
}
h2 {
  position: absolute;
  top: 32vw;
  left: 77vw;

  width: 425px;

  transform: rotate(-90deg);
  animation: h2Animate 10s linear infinite;

  font-size: 50px;
  font-weight: bold;
}
.adress {
  top: 45vw;
  left: 54vw;

  width: 500px;

  animation: adressnimate 10s linear infinite;

  font-size: 28px;
  font-weight: 600;
}

div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
