html, body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;

  transition: all 1s ease;

  font-family: Proxsima;
}
body * {
  margin: 0;
  padding: 0;

  transition: all 10ms ease;
}

nav {
  z-index: 3;

  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100vh;
  margin-top: 0;
  margin-left: -200px;

  transition: all 1s ease;

  background-color: rgba(255, 255, 255, 0.2);

  align-items: center;
  justify-content: center;
}
nav * {
  z-index: 3;

  transition: all 1s ease;

  opacity: 0;
}
nav:hover {
  margin-left: 0;

  background-color: rgba(255, 255, 255, 0.4);
}
nav:hover * {
  opacity: 1
}
ul {
  display: flex;
  flex-direction: column;

  list-style-type: none;

  align-items: center;
}
li {
  width: 176px;
  padding: 10px;

  cursor: pointer;
  text-align: center;

  color: white;
  border-radius: 10px;
  background-color: red;
  background-color: rgba(0,0,0,0.5);
}
li:hover {
  color: black;
}
li.soln:hover {
  background: linear-gradient(135deg, rgb(247,255,135) 27%,rgb(127,255,246) 100%);
}
li.letn:hover {
  background: linear-gradient(135deg, rgb(116,186,219) 27%,rgb(242,255,253) 100%);
}
li.sessia:hover {
  background: linear-gradient(135deg, rgb(255,0,4) 27%,rgb(43,0,0) 100%);
}
li.zimn:hover {
  background: linear-gradient(135deg, rgb(94,185,255) 19%,rgb(59,72,160) 58%,rgb(0,201,252) 100%);
}
li.noch:hover {
  color: rgba(255, 225, 225, 0.9);
  background: linear-gradient(135deg, rgb(12,14,33) 19%,rgb(112,108,41) 58%,rgb(9,0,68) 100%);
}
li.osen:hover {
  background: linear-gradient(135deg, rgb(255,97,0) 27%,rgb(255,238,0) 100%);
}
li.rad:hover {
  background: linear-gradient(135deg, rgb(255,7,7) 0%,rgb(255,229,0) 25%,rgb(73,255,22) 51%,rgb(0,135,255) 75%,rgb(118,0,237) 100%);
}
li.tum:hover {
  background: linear-gradient(135deg, rgb(135,135,135) 0%,rgb(114,114,114) 58%,rgb(234,234,234) 100%);
}


li + li {
  margin-top: 30px;
}

#info * {
  z-index: -2;

  cursor: default;
}
h4 {
  position: absolute;
  top: 1vw;
  left: 6vw;

  animation: h4Animate 10s linear infinite;

  font-size: 70px;
}
h3 {
  position: absolute;
  top: 6vw;
  left: 6vw;

  animation: h3Animate 10s linear infinite;

  font-size: 80px;
  font-weight: 250;
  font-style: italic;
}
h1 {
  position: absolute;
  top: 10vw;
  left: 6vw;

  animation: h1Animate 10s linear infinite;

  font-size: 175px;
  font-weight: bold;
}
p {
  position: absolute;
  top: 36vw;
  left: 57vw;

  width: 400px;

  animation: pAnimate 10s linear infinite;

  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 17px;
}
h2 {
  position: absolute;
  top: 32vw;
  left: 77vw;

  width: 425px;

  transform: rotate(-90deg);
  animation: h2Animate 10s linear infinite;

  font-size: 50px;
  font-weight: bold;
}
.adress {
  top: 45vw;
  left: 54vw;

  width: 500px;

  animation: adressnimate 10s linear infinite;

  font-size: 28px;
  font-weight: 600;
}

div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
