@import "fonts.css";
html, body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;

  font-family: Proxsima;
}
body * {
  margin: 0;
  padding: 0;
}
h1 {
  position: absolute;
  top: 16vw;
  left: 216px;

  font-size: 175px;
  font-weight: bold;
}
h2 {
  position: absolute;
  top: 21.6vw;
  left: -18vw;

  width: auto;

  transform: rotate(-90deg);

  font-size: 83px;
  font-style: normal;
}
h3 {
  position: absolute;
  top: 12vw;
  left: 230px;

  font-size: 65px;
  font-weight: bold;
  font-style: normal;
}
h4 {
  position: absolute;
  top: -1vw;
  left: 230px;

  width: auto;

  text-transform: none;

  font-size: 53px;
  font-weight: bold;
}
p {
  position: absolute;
  top: 39vw;
  left: 230px;

  width: 385px;

  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  line-height: 21px;

}
.adress {
  top: 13.5vw;
  left: -2vw;

  width: auto;

  transform: rotate(-90deg);

  font-size: 28px;
  font-style: normal;
}
